<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test automtion regression suite" verbose="1"
	thread-count="2" parallel="tests">

	<test name="orange - Chrome test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="package_2.orange_test" />
		</classes>
	</test>

	<test name="orange - Chrome test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="package_2.orange_test" />
		</classes>
	</test>
</suite>